# {{ ansible_managed }}
{% for vhost in nginx_vhosts %}
server {
{# listen string or list on undefined #}
{% if vhost.listen is defined %}
{% if vhost.listen is string %}
    listen {{ vhost.listen }};
{% elif vhost.listen is iterable %}
{% for listen in vhost.listen %}
    listen {{ listen }};
{% endfor %}
{% endif %}
{% else %}
    listen 80 default_server;
{% endif %}

{# server_name string or list #}
{% if vhost.server_name is string %}
    server_name {{ vhost.server_name }};
{% else %}
    server_name {{ vhost.server_name|join(' ') }};
{% endif %}

{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

{% if vhost.error_page is defined %}
{% if vhost.error_page is string %}
    error_page {{ vhost.error_page }};
{% elif vhost.error_page is iterable %}
{% for error_page in vhost.error_page %}
    error_page {{ error_page }};
{% endfor %}
{% endif %}
{% endif %}
{% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
{% endif %}
{% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }};
{% endif %}

    {% if vhost.return is defined %}
return {{ vhost.return }};
    {% endif %}

{% if vhost.extra_parameters is defined %}
{{ vhost.extra_parameters }}
{% endif %}
}

{% endfor %}
